@model PCK.Web.ViewModels.SalesOrderViewModel
@using Newtonsoft.Json;


@{
    ViewBag.Title = "Sales Order Details";
}

@{ string data = JsonConvert.SerializeObject(Model);}

@section scripts{

    <script src="~/lib/knockout/dist/knockout.js"></script>
    <script src="~/lib/knockout-mapping/build/output/knockout.mapping-latest.js"></script>
    <script src="~/js/salesorderviewmodel.js"></script>
    <script type="text/javascript" language="javascript">

        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));

        ko.applyBindings(salesOrderViewModel);
    </script>
}
<h2>Create Sales Order</h2>
<p data-bind="text: MessageToClient"></p>

<div>
    <form name="formName">
        <div>
            <h4>Customer Name</h4>
            <input name="CustomerName" id="CustomerName" data-bind="value: CustomerName" />
        </div>
        <div>
            <label>P.O. Number</label>
            <input name="PONumber" id="PONumber" data-bind="value: PONumber" />
        </div>
    </form>
</div>
<p><button data-bind="click: save">Save</button></p>
<div>

    <a asp-action="Index">Back to List</a>
</div>
