@model PCK.Web.ViewModels.SalesOrderViewModel
@using Newtonsoft.Json;


@{
    ViewBag.Title = "Sales Order Details";
}

@{ string data = JsonConvert.SerializeObject(Model);}

@section scripts{

    <script src="~/lib/knockout/dist/knockout.js"></script>
    <script src="~/lib/knockout-mapping/build/output/knockout.mapping-latest.js"></script>
    <script src="~/js/salesorderviewmodel.js"></script>
    <script type="text/javascript" language="javascript">


        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));
        debugger;
        ko.applyBindings(salesOrderViewModel);
    </script>
}
<h2>Details</h2>
<p data-bind="text: MessageToClient"></p>
<div>@Model.MessageToClient</div>
<div>
    <h4>Customer Name</h4>
    <span data-bind="text: CustomerName"></span>
    <hr />
    <div>
        <label>P.O. Number</label>
        <span data-bind="text: PONumber"></span>
    </div>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
